openapi: 3.0.0
info:
  title: Gleap AI content Engagement Tooltip API
  version: 14.0.0
  contact:
    name: Gleap Support
    email: hello@gleap.io
    url: https://gleap.io
  description: The Gleap REST API provides programmatic access to feedback tickets, user identification, event tracking, help center content, outbound messaging, sessions, contacts, and AI-powered support workflows. The API uses Bearer token authentication and supports filtering, pagination, and webhook integrations.
  license:
    name: Proprietary
servers:
- url: https://api.gleap.io/v3
tags:
- name: Engagement Tooltip
paths:
  /engagement/tooltips:
    post:
      operationId: CreateTooltip
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {}
      summary: Create a new tooltip
      tags:
      - Engagement Tooltip
      security:
      - jwt: []
      parameters:
      - in: header
        name: project
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
    get:
      operationId: GetTooltips
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {}
      summary: Get all tooltip
      tags:
      - Engagement Tooltip
      security:
      - jwt: []
      parameters:
      - in: header
        name: project
        required: true
        schema:
          type: string
  /engagement/tooltips/{tooltipId}:
    put:
      operationId: UpdateTooltip
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {}
      summary: Update a tooltip
      tags:
      - Engagement Tooltip
      security:
      - jwt: []
      parameters:
      - in: path
        name: tooltipId
        required: true
        schema:
          type: string
      - in: header
        name: project
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
    delete:
      operationId: DeleteTooltip
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {}
      summary: Delete a tooltip
      tags:
      - Engagement Tooltip
      security:
      - jwt: []
      parameters:
      - in: path
        name: tooltipId
        required: true
        schema:
          type: string
      - in: header
        name: project
        required: true
        schema:
          type: string
    get:
      operationId: GetTooltip
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {}
      summary: Get a tooltip
      tags:
      - Engagement Tooltip
      security:
      - jwt: []
      parameters:
      - in: path
        name: tooltipId
        required: true
        schema:
          type: string
      - in: header
        name: project
        required: true
        schema:
          type: string
components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
