openapi: 3.0.0
info:
  title: Gleap AI content Engagement Banner API
  version: 14.0.0
  contact:
    name: Gleap Support
    email: hello@gleap.io
    url: https://gleap.io
  description: The Gleap REST API provides programmatic access to feedback tickets, user identification, event tracking, help center content, outbound messaging, sessions, contacts, and AI-powered support workflows. The API uses Bearer token authentication and supports filtering, pagination, and webhook integrations.
  license:
    name: Proprietary
servers:
- url: https://api.gleap.io/v3
tags:
- name: Engagement Banner
paths:
  /engagement/banners:
    post:
      operationId: CreateBanner
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {}
      summary: Create a new banner
      tags:
      - Engagement Banner
      security:
      - jwt: []
      parameters:
      - in: header
        name: project
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
    get:
      operationId: GetBanners
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {}
      summary: Get all banners
      tags:
      - Engagement Banner
      security:
      - jwt: []
      parameters:
      - in: header
        name: project
        required: true
        schema:
          type: string
  /engagement/banners/{bannerId}:
    put:
      operationId: UpdateBanner
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {}
      summary: Update an banner
      tags:
      - Engagement Banner
      security:
      - jwt: []
      parameters:
      - in: path
        name: bannerId
        required: true
        schema:
          type: string
      - in: header
        name: project
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
    delete:
      operationId: DeleteBanner
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {}
      summary: Delete an banner
      tags:
      - Engagement Banner
      security:
      - jwt: []
      parameters:
      - in: path
        name: bannerId
        required: true
        schema:
          type: string
      - in: header
        name: project
        required: true
        schema:
          type: string
    get:
      operationId: GetBanner
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {}
      summary: Get an banner
      tags:
      - Engagement Banner
      security:
      - jwt: []
      parameters:
      - in: path
        name: bannerId
        required: true
        schema:
          type: string
      - in: header
        name: project
        required: true
        schema:
          type: string
components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
