openapi: 3.0.0
info:
  title: Gleap AI content Engagement Push Notification API
  version: 14.0.0
  contact:
    name: Gleap Support
    email: hello@gleap.io
    url: https://gleap.io
  description: The Gleap REST API provides programmatic access to feedback tickets, user identification, event tracking, help center content, outbound messaging, sessions, contacts, and AI-powered support workflows. The API uses Bearer token authentication and supports filtering, pagination, and webhook integrations.
  license:
    name: Proprietary
servers:
- url: https://api.gleap.io/v3
tags:
- name: Engagement Push Notification
paths:
  /engagement/push-notifications:
    post:
      operationId: CreateEngagementPushNotification
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {}
      summary: Create a new push notification
      tags:
      - Engagement Push Notification
      security:
      - jwt: []
      parameters:
      - in: header
        name: project
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
    get:
      operationId: GetEngagementPushNotifications
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {}
      summary: Get all push notification
      tags:
      - Engagement Push Notification
      security:
      - jwt: []
      parameters:
      - in: header
        name: project
        required: true
        schema:
          type: string
  /engagement/push-notifications/{pushNotificationId}:
    put:
      operationId: UpdateEngagementPushNotification
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {}
      summary: Update a push notification
      tags:
      - Engagement Push Notification
      security:
      - jwt: []
      parameters:
      - in: path
        name: pushNotificationId
        required: true
        schema:
          type: string
      - in: header
        name: project
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema: {}
    delete:
      operationId: DeleteEngagementPushNotification
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {}
      summary: Delete a push notification
      tags:
      - Engagement Push Notification
      security:
      - jwt: []
      parameters:
      - in: path
        name: pushNotificationId
        required: true
        schema:
          type: string
      - in: header
        name: project
        required: true
        schema:
          type: string
    get:
      operationId: GetEngagementPushNotification
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema: {}
      summary: Get a push notification
      tags:
      - Engagement Push Notification
      security:
      - jwt: []
      parameters:
      - in: path
        name: pushNotificationId
        required: true
        schema:
          type: string
      - in: header
        name: project
        required: true
        schema:
          type: string
components:
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT
